*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(211, 211, 211);
    padding:3%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-rows: repeat(3, minmax(auto-fit, 50vh));
    grid-gap: 2%;
}

.listBlock {
    background-color: rgb(147, 184, 194);
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
    grid-area: span 2 / auto;
    overflow-y: scroll;
    max-height: 87vh;
}
.listBlock::-webkit-scrollbar{
    display: none;
}
.listBlockHeader {
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
}
.listBlockHeader>p {
    padding: 10px 0;
}
.listBlockBody {
    padding-bottom:2%;
    padding-left: 5%;
    padding-right: 5%;
}
.textAreaBlock {
    padding: 5%;
    border-radius: 10px;
}
.textArea {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 10px 10px 8px #888888;
}
.textArea:focus{
    outline: none;
}
.listDesign {
    display: grid;
    grid-template-columns: 21fr 1fr 1fr 1fr;
    grid-gap: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
    padding: 1%;
    background-color: rgb(255, 184, 51);
    box-shadow: 10px 10px 8px #757575;
}
.listDesign:hover{
    background-color: rgb(255, 98, 0);
}
.checkBoxDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkBoxDiv>input {
    cursor: pointer;
}
.crossButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.crossButtonDiv>img {
    cursor: pointer;
    border: none;
    width: 70%;
    padding: 10%;
}
.editDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editImage{
    cursor: pointer;
    border: none;
    width: 80%;
    padding: 10%;
}
.new_input_box {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #00e385;
    padding: 0 2%;
}
.new_input_box:focus {
    outline: none;
}

.popUpHide {
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: rgb(255, 184, 51);
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 25%;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
}

.popUpShow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background: rgb(164, 56, 252);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 10px 10px 8px #757575;
    width: 25%;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
}

.popUpShow .close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #fdfdfd;
    background: rgb(252, 25, 0);
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

.popUpShow h2{
    font-size: 25px;
    text-align: center;
    margin: 10px 0px 20px;
    color: #fff;
}

.popUpShow h3{
    font-size: 17px;
    text-align: center;
    color: #fdfdfd;
}